@page "/admin/assign-user-role/{id}"
@model MyBlog.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Gán role";

}

<h4>Thiết lập mật khẩu cho thành viên:@Model.User?.UserName</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleNames"></label>
                @Html.ListBoxFor(m => m.RoleNames, Model.allRoles, new
                {
                    id = "id-select-roles",
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="RoleNames"></label>
                <select name="RoleNames" id="RoleNames" multiple>
                    @if (Model.keyValues != null && Model.keyValues.Any())
                    {
                        foreach (var item in Model.keyValues)
                        {
                            <option value="@item.Value">@item.Value</option>
                        }
                    }
                </select>

                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>*@
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a class="btn btn-primary" asp-page="./Index">Danh sách thành viên</a>
        </form>
        <hr>
        <p>Các claim của user có được từ role:</p>
        @if (Model.claimsInRole.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.claimsInRole)
                {
                    <li>@claim.ClaimType : @claim.ClaimValue</li>
                }
            </ul>
        }
        <p>Các claim riêng của user :</p>
        <a asp-page="./EditUserRoleClaim" asp-page-handler="AddClaim" asp-route-userid="@Model.User?.Id">+ Thêm claim riêng </a>
        @if (Model.claimsInUserClaim.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.claimsInUserClaim)
                {
                    <li>
                        <a asp-page="./EditUserRoleClaim" asp-page-handler="EditClaim" asp-route-claimid="@claim.Id">@claim.ClaimType : @claim.ClaimValue</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {



    <partial name="_ValidationScriptsPartial" />
}