@page "/admin/members"
@model MyBlog.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />
<p>Tổng số thành viên:@Model.totalUser</p>


<table class="table">
    <tr>
        <th>Tên User</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>

                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-page="./AddRole" asp-route-id="@user.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }


            </td>
            <td>

                <a class="btn btn-success btn-sm" asp-page="./SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>

            </td>
        </tr>
    }
</table>
@{
    var pagingmodel = new MyBlog.Helpers.PagingModel()
    {
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = (int? p) => Url.Page("./Index", new { p = p })

    };
}

<partial name="_Paging" model="@pagingmodel" />